<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ym.product.mapper.goods.GoodsSkuMapper">

    <select id="getGoodsNumBOList" resultType="com.ym.product.bo.goods.GoodsNumBO">
        SELECT
            t1.spu_id,
            t1.id as skuId,
            t2.skuCount,
            t2.stockCount,
            t2.minPrice,
            t2.maxPrice
            FROM goods_sku t1
        INNER JOIN (
            SELECT
                spu_id,
                MIN(price) AS minPrice,
                MAX(price) AS maxPrice,
                COUNT(0) AS skuCount,
                SUM(remain_stock) AS stockCount
            FROM goods_sku
            WHERE spu_id IN
            <foreach item="item" collection="spuIds" separator="," open="(" close=")" index="">
                #{item}
            </foreach>
            GROUP BY spu_id
        ) t2 ON t1.spu_id = t2.spu_id AND t1.price = t2.minPrice
        WHERE t1.spu_id IN
        <foreach item="item" collection="spuIds" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
    </select>

    <select id="getSpuRangePrice" resultType="com.ym.product.bo.goods.GoodsPriceBO">
        SELECT
            MIN( price ) AS minPrice,
            MAX( price ) AS maxPrice
        FROM goods_sku
        <where>
            spu_id = #{spuId}
        </where>
    </select>
</mapper>
